* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #c4c0b4;
}

.borderedContent {
    width: 80%;
    margin: 2rem auto;
    border: solid black .2rem;
    border-radius: 2rem;
    background-color: rgb(234, 162, 4);
}

.stickyFooterWrapper {
    flex: 1;
}

header {
    flex: none;
}

.backgroundWhite {
    background-color: #f9f9f9;
}

.userStats {
    flex: none;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.userStatsText {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1.5rem;
}

footer {
    flex: none;
    text-align: center;
    padding: 1rem;
}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 2rem;
    border-top: solid black .2rem;
    border-bottom: solid black .2rem;
}

.gameLeft {
    flex: 2;
    display: flex;
    align-items: center;
}

.crystalsHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0 0 0;
    margin: 0 10%;
}

.crystal {
    width: 25%;
    padding: 1rem;
    text-align: center;
}

.crystalGraphic {
    cursor: pointer;
}

.gameRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.statMessageHolder {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
}

h1 {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
}

h2 {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    padding: 1rem 0 0 0;
}

.footerText {
    padding: 0 0 .5rem 0;
}

.paddingNone {
    padding: 0;
}

.targetTotal {
    background-color: rgba(234, 162, 4, .5);
    width: 60%;
    border: solid black .1rem;
    border-radius: 1rem;
    padding: .5rem;
    margin: 0 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#targetScore {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem 0 0 0;
}

.currentTotal {
    background-color: rgba(234, 162, 4, .5);
    width: 60%;
    border: solid black .1rem;
    border-radius: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 2rem;
}

#currentScore {
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 1rem 0 0 0;
}

.noInstructions {
    flex-direction: row;
    justify-content: space-around;
}

.hide {
    display: none;
}

.rowLayout {
    width: 30%;
    padding: .5rem;
    margin: 0;
    align-self: stretch;
}

@media screen and (max-width: 1000px) {
    .borderedContent {
        width: 90%;
    }
    .crystalsHolder {
        margin: 0 5%;
    }
    #targetTotal {
        width: 75%;
    }
    #currentTotal {
        width: 75%;
    }
}

@media screen and (max-width: 750px) {
    .gameLeft {
        width: 100%;
    }
    .gameRight {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        flex: none;
        padding: 2rem 0 0 0;
    }
    .targetTotal {
        width: 30%;
        padding: .5rem;
        margin: 0;
        align-self: stretch;
    }
    .currentTotal {
        width: 30%;
        padding: .5rem;
        margin: 0;
        align-self: stretch;
    }
    .crystalsHolder {
        margin: 0;
        flex-wrap: wrap;
    }
    .gameContainer {
        padding: 1rem;
    }
    .crystal {
        padding: 1rem .5rem;
    }
}

@media screen and (max-width: 550px) {
    body {
        font-size: 16px;
    }
    .targetTotal {
        width: 45%;
    }
    .currentTotal {
        width: 45%;
    }
    h2 {
        font-size: 1.25rem;
    }
    #targetScore {
        font-size: 2.5rem;
    }
    #currentScore {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 350px) {
    .crystal {
        width: 50%;
    }
    .crystalGraphic {
        width: 70%;
    }
    .gameRight {
        flex-direction: column;
        justify-content: center;
    }
    .targetTotal {
        width: 70%;
        margin: 0 auto 2rem auto;
    }
    .currentTotal {
        width: 70%;
        margin: 0 auto 0 auto;
    }
}